<div class="jumbotron">
  <h1>MusicDB</h1>
  <p>MusicDB is an app made by Hannah Joy Lehman. It was experiment to better understand the Model-View-Controller structure of Ruby on Rails. The idea is that a user could catalogue their favorite tunes in one place. Advanced development of the application will include user accounts, upload capabilities (perhaps of videos), and administration privileges, among others.</p>
</div>